
.header {
  text-align: center;
  padding: rem-calc(40) 0 rem-calc(80) 0;

  .logo {
    padding-bottom: rem-calc(30);
  }

  .menu {
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
   }

    //  &.a:hover {
    //   font-color: $secondary-color;
    //  }

    //  &.a:active {
    //   font-color: $secondary-color;
    //  }
}
