// ******* FONT STYLING ******* //

// h1 is used for the website title //
h1 {
  font-size: 1em;
  letter-spacing: rem-calc(1);
}

// h2 is used for the sseciton titles and is in the brand red //
h2 {
  font-size: 1em;
  letter-spacing: rem-calc(.5);
  font-weight: bold;
  color: $secondary-color;
}

// ******* PORTFOLIO GRID SECTION ******* //

.column-block {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }
}

// ******* PORTFOLIO PAGES ******* //

.portfolio-piece {
    .portfolio-info {
      text-align: center;
    }

    .portfolio-image {
      img {
        width: 100%;
      }
    }
  }



// ******* ABOUT SECTION ******* //

.about {
    .about-content {
      padding-bottom: rem-calc(60);
    }
}
