// ******* FONT STYLING ******* //

h1 {
  font-size: 1em;
  letter-spacing: rem-calc(1);
}

nav {
  &.a {
    font-style: bold;
    letter-spacing: rem-calc(3);
  }
}

// ******* PORTFOLIO GRID SECTION ******* //

.column-block {
  @include breakpoint(small only) {
    margin-bottom: rem-calc(20);
  }

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }
}


// ******* ABOUT SECTION ******* //

.about {
    .about-content {
      padding-bottom: rem-calc(60);
    }
}
