

<header class="header">
  <a href="#"><img class="logo" src="../assets/img/lb-logo.png" alt="logo"/></a>
  <h1>Design &amp; Illustration</h1>
  <nav class="nav">
    <ul class="menu">
      <li {{#ifpage "index"}} class="active" {{/ifpage}}><a href="{{root}}index.html">PORTFOLIO</a></li>
      <li {{#ifpage "about"}} class="active" {{/ifpage}}><a href="{{root}}about.html">ABOUT</a></li>
      <li {{#ifpage "contact"}} class="active" {{/ifpage}}><a href="{{root}}contact.html">CONTACT</a></li>
    </ul>
  </nav>
</header>
